<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Мой набор тестов">
            <directory>./tests</directory>
        </testsuite>
        <logging>
            <log type="coverage-clover" target="./tmp/clover.xml"/>
        </logging>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>